.search-bar {
    position: relative;
    max-width: 400px;
  }
  
  .list-group {
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .list-group-item.suggestion-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .list-group-item.suggestion-item:hover {
    background-color: #f0f0f0; /* Cambia a un gris claro al hacer hover */
  }